
/LoRaWAN-HelloWorld-radiolib/KiCAD/ESP32-LoRa-SX1276/ESP32-LoRa-SX1276-backups/
/LoRaWAN-HelloWorld-radiolib/KiCAD/ESP32-LoRa-SX1262/ESP32-LoRa-SX1262-backups/
*.creator.user
/LoRaWAN-HelloWorld-radiolib/.cache/
/LoRaWAN-HelloWorld-radiolib/.qtcreator/
